<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838855622957-stmofl057vbi2nug9h0ifjib4kac65re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838855622957-stmofl057vbi2nug9h0ifjib4kac65re</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838855622957-8m5l83g804dk2p99ve514iiipt5jqpan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXUNqF0sC4TA0h-SHcy4_gmAjsuJ58Bo8</string>
	<key>GCM_SENDER_ID</key>
	<string>838855622957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-anjaelmike.mohouz</string>
	<key>PROJECT_ID</key>
	<string>mohouz-ea108</string>
	<key>STORAGE_BUCKET</key>
	<string>mohouz-ea108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838855622957:ios:7730c379dd577b48bed3a4</string>
</dict>
</plist>